
<!-- <%= image_tag 'wobblee_logo_cut', id: "logo_pic" %>> -->


<!-- <%= link_to 'Results', '/game_result', class: "results" %> -->
<!-- <%= image_tag 'gif', id: "gif" %>> -->

<div class="gif">

  <p id="paragraph_line_one">Your Reaction Time was <span>.37 seconds</span></p>

  <p id="paragraph_line_two">If you drink between 2 and 5 cups <br>
    it will take about <span>5 hours </span>for the alcohol <br>
    to leave your body and you should <br>
    <span>NOT BE DRIVING</span></p>

    <p id="paragraph_line_three">Please find a friend or an alternate way <br>
      to get home</p>

      <h3>Results</h3>

</div>

<%= link_to (image_tag 'back_arrow'), '/play_game',class: "back_arrow" %>
