
<%= image_tag 'wobblee_logo_cut', id: "logo_pic" %>

<%= image_tag 'wobblee_start_button', id: "start_button" %>

<%= image_tag 'wobblee_name_color', id: "logo_name_color" %>



<h2>Ready To</h2>

<div class="instructions">
<p>Pop the first green bubble you <br> see to check your reaction time <br> and know if you had one too <br> many drinks!!</p>
</div>
