<!--
This is a *MASSIVE* CPU drain and just a bit of fun.
I wouldn't use it on anything serious, but see it in action here: http://beeroclock.in
-->

<div class="wrapper">
  <h1>Timer</h1>
  <p><span id="seconds">00</span>:<span id="tens">00</span></p>
  <!-- <button id="button-reset">Reset</button> -->

<!-- <button id="button-start">Start</button>
<button id="button-stop">Stop</button> -->
</div>

<div class="blue">
  <div class="bubbles"></div>
  <!-- <a class="bubble-toggle" href="#">Bubbles Off</a> -->
</div>
